#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

# Use text install
text

# Set installation source
repo --name=os --cost=100 --mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=os
repo --name=updates --cost=100 --mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=updates
repo --name=extras --cost=100 --mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=extras
url --mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=os

# Keyboard layouts
keyboard --vckeymap=pl --xlayouts='pl','us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --bootproto=dhcp --device=enp0s8 --ipv6=auto --activate
network  --hostname=centos7

# System services
services --enabled="chronyd"

# System timezone
timezone Europe/Warsaw --utc

#Root password
rootpw --lock
user --groups=wheel --name=vm --password=vm --plaintext --gecos="vm"

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr

ignoredisk --only-use=sda|vda
autopart
# Partition clearing information
clearpart --none --initlabel

# Do not run the Setup Agent on first boot
firstboot --disable

# Reboot after installation finishes
reboot --eject

%packages
@^minimal
@core
@guest-agents
chrony
kexec-tools

%end
