#version=RHEL8
# Use text install
text

# Set installation source
repo --name=BaseOS --mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=BaseOS
repo --name=AppStream --mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=AppStream
repo --name=extras --mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=extras
url --mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=BaseOS

%packages
@^server-product-environment
@guest-agents
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='pl','us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp1s0 --ipv6=auto --activate
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --bootproto=dhcp --device=enp0s8 --ipv6=auto --activate
network  --hostname=centos8-stream

ignoredisk --only-use=sda|vda
autopart
# Partition clearing information
clearpart --none --initlabel

# System timezone
timezone Europe/Warsaw --utc

#Root password
rootpw --lock
user --groups=wheel --name=vm --password=vm --plaintext --gecos="vm"

# Do not run the Setup Agent on first boot
firstboot --disable

# Reboot after installation finishes
reboot --eject
